/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


:root{
    --light-red: hsl(0, 100%, 67%);
    --Orangey yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--Pale-blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
    width: 375px;
    margin: 50px;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Hanken Grotesk', sans-serif;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      var(--Light-slate-blue),
      var(--Light-royal-blue)
    );
    text-align: center;
    padding: 35px 100px;
}

.result h2{
  color: var(--Light-lavender);
  font-size: 25px;
}

/* 76 */
h3 { 
  position: relative;
  z-index: 3;
  color: var(--White);
  font-size: 67px;
  margin-top: 65px;
}


.result p{
  margin-top: -15px;
}

.result h4{
  color: var(--White);
  font-size: 33px;
  margin-top: -80px;
}

.circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background:   
    linear-gradient(
      to bottom,
      var(--Violet-blue),
      var(--Persian-blue)
    );
  position: relative;
  top: -130px;
  left: calc(36% - 50px);
  z-index: 2;
  opacity: 0.8;
}

.result p{
  color: var(--Light-lavender);
  font-size: 16px;
}

.result p:last-of-type{
  font-size: 17px;
  margin: 19px -40px;
  font-weight: 700;
}

.summary {
    width: 375px;
    margin: 50px;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Hanken Grotesk', sans-serif;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}